@model int;
    <script src="https://kit.fontawesome.com/ee181be92a.js" crossorigin="anonymous"></script>
<style>
    .badge {
        padding-left: 9px;
        padding-right: 9px;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
    }

    .label-warning[href],
    .badge-warning[href] {
        background-color: #c67605;
    }

    #lblCartCount {
        font-size: 12px;
        background: #ff0000;
        color: #fff;
        padding: 0 5px;
        vertical-align: top;
        margin-left: -10px;
    }
</style>
@if (Model > 0)
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Orders" asp-action="ShoppingCart">
            <i class="fa" style="font-size:24px">&#xf07a;</i>
<span class='badge badge-warning' id='lblCartCount'> @Model </span>
        </a>
    </li>
}